<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="shedule.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
  <log4net>
    <appender name="ERRORFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <lockingmodel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value=".\Logs\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="ddMMyyyy" />
      <staticLogFileName value="false" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="[%d] %5p [%t] (%C.%M@%F:%L) - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ERRORFileAppender" />
    </root>
  </log4net>
    <connectionStrings>
        <add name="shedule.Properties.Settings.ConnectionString" connectionString="Data Source=CENTRUMSRV;Persist Security Info=True;User ID=VShleyev;Password=gjkrjdybr@93"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <shedule.Settings>
            <setting name="DatabaseAddress" serializeAs="String">
                <value>CENTRUMSRV</value>
            </setting>
            <setting name="DatabaseLogin" serializeAs="String">
                <value>VShleyev</value>
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value>gjkrjdybr@93</value>
            </setting>
        </shedule.Settings>
    </userSettings>
</configuration>